  <div class="details">
    <h1><%= @movie.title %></h1>
    <div class="image">
      <%= image_tag @movie.image_file_name %>
    </div>
    <h2>
      <%= year_of(@movie) %> &bull; <%= @movie.rating %>
    </h2>

    <h3>
      Director: <%= @movie.director %>
    </h3>
    <p>
      Movie length: <%= @movie.duration %>
    </p>
    <p>
      <%= @movie.description %>
    </p>
    <table>
      <tr>
        <th>Total Gross:</th>
        <td><%= total_gross(@movie) %></td>
      </tr>
    </table>
    <section class="admin">
      <%= link_to "Edit", edit_movie_path(@movie), class: "button" %>
      <%= link_to "Delete", movie_path(@movie), class: "button", method: :delete, data: { confirm: "Are you sure?" } %>
    </section>
  </div>
