<section class="user">
  <h1><%= @user.name %></h1>
  <h2><%= mail_to(@user.email) %></h2>
  <p>Username: <%= show_username %></p>
  <p>Member since <%= @user.created_at.strftime("%B %Y") %></p>

  <% if @reviews.present? %>
    <h3>Reviews</h3>
    <% @reviews.each do |review| %>
      <div class="review">
        <div class="details">
          <span class="title">
            <%= link_to review.movie.title, review.movie %>
          </span>
          <%= render "shared/stars", percent: review.stars_as_percent %>
          <span class="date">
            <%= time_ago_in_words(review.created_at) %> ago
          </span>
          <p>
            <%= review.comment %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @favorite_movies.present? %>
    <h3>Favorite Movies</h3>
    <div class="favorite-movies">
      <% @favorite_movies.each do |movie| %>
        <%= link_to main_image(movie), movie %>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <% if current_user?(@user) %>
      <%= link_to 'Edit Account', edit_user_path(@user), class: "button edit" %>
    <% end %>
    <% if current_user_admin? %>
      <%= link_to 'Delete Account', user_path(@user),
                                    method: :delete,
                                    data: { confirm: "Are you sure you want to delete the account?!"},
                                    class: "button delete" %>
    <% end %>
  </div>
</section>
