<%= form_with(model: [@movie, @review], local: true) do |f| %>

  <%= render "shared/errors", object: @review %>

  <%# removed :name field since reviews will be associated to user through user_id %>

  <%= f.label :stars %>
  <% Review::STARS.each do |star| %>
    <span class="star">
      <%= f.radio_button :stars, star %>
      <%= label_tag star %>
    </span>
  <% end %>

  <%= f.label :comment %>
  <%= f.text_area :comment, placeholder: "Enter your comments here" %>
  <%= f.submit "Post Review "%>
<% end %>

